.search-box {
	&__input {
		width: 330px;
		position: relative;
		border-radius: 3px;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	}

	&__input::before {
		content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAQJJREFUKBWVkr2uQUEUhf3ET6GRaC5aFRoJKrf1BKpb8SwqovYGXkCj00k0QnRKEYkILYobvpUYmeMMyVnJl7P3mjN7Zu9zwiGv2qRFyMMSRrAFp6JPN8XzBj+wgDkUYAg7WINTYdwpDECxrRLJHeq2accdkgm8bzTvNAg2EDOGeUYI1KNO1gkuzTA1g8T7ojbn4ONQWPuHPWgeHmnzCqoe15tkSNPgPEAn68oVcOmA2XMtGK9FoE/VhOTTVNExqLCGZnxCv2pYauEC6lF0oQxX6IOvb7yX9NPEQafan+aPXDdQC18LsO6Tip5BBY6gIQaSbnMCFRCBZRcIvFkbsvCr4AFGOCxQy+JdGQAAAABJRU5ErkJggg==');
		display: block;
		position: absolute;
		z-index: 3;
		top: 11px;
		left: 8px;
		line-height: 14px;
		opacity: 0.6;
	}

	&__input > input {
		width: 100%;
		font-size: 18px;
		border: 1px solid transparent;
		line-height: 16px;
		padding: 5px 10px 5px 25px;
		height: 32px;
		position: relative;
		box-sizing: border-box;
		border-radius: 3px;
		text-indent: 5px;

		&:focus {
			outline: none;
			box-shadow: 0px 0px 1px 1px rgba(220, 228, 228, 0.7);
		}
	}
}

.app {
	&__posts {
		padding-bottom: 20px;

		&-search-box {
			margin: 30px auto 20px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__post {
		&-container {
			background-color: rgba(77, 232, 141, 0.3);
			padding: 20px;
			border-radius: 5px;
			margin: 20px;
			display: flex;
			flex-direction: column;
			border: 3px solid white;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-title {
			font-style: italic;
			font-weight: bold;
			text-align: center;
		}

		&-body {
			margin-top: 20px;
		}

		&-read-button {
			margin-top: 10px;
			align-self: flex-end;
			width: 60px;
			height: 20px;
			font-size: 14px;
			border: 1px solid grey;
			color: white;
			background-color: rgba(0, 23, 2, 0.5);
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 4px;
			cursor: pointer;
			user-select: none;
			&:active {
				background-color: rgba(0, 23, 2, 0.8);
			}
		}
	}
}
